<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>   Home dati post   </title>
    <link rel="stylesheet" href="/.vscode/style.css">
</head>

<body class="home">

    <nav>
        <menu>
            <li>
                <a href="tabella.html">Tabella post </a>
            </li>
            <li>
                <a href="box.html">box model </a>
            </li>

            <li>
                <a href="layout.html">Esempi layout</a>
            </li>

            <li>
                <a href="frameworks.html">Esempi frameworks</a>
            </li>
        </menu>
    </nav>

    <h1 class="title"> Post disponibile </h1>
    <p> crea post
        <span class="special">
            <a href="<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Home post </title>
    <link rel="stylesheet" href="style.css">
</head>

<body class="home">

    <nav>
        <menu>
            <li>
                <a href="tabella.html">Esempio Tabella</a>
            </li>
            <li>
                <a href="box.html">Esempi CSS box model </a>
            </li>

            <li>
                <a href="layout.html">Esempi layout</a>
            </li>

            <li>
                <a href="frameworks.html">Esempi frameworks</a>
            </li>
        </menu>
    </nav>

    <h1 class="title">Indice esempi Web Standards</h1>
    <p>link per creazione post
        <span class="special">
            <a href="http://127.0.0.1:5000"> creazione post </a>
        </span>
    </p>
    <p>Sito con esempi tecnologie web standards <span class="special">ITS biotecnologie</span></p>

    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus eget mauris neque. Donec vel egestas ligula, et ultricies libero. Nam tempor mollis risus, id tincidunt felis sollicitudin id. Maecenas odio justo, facilisis quis feugiat in, scelerisque ut mauris. Donec bibendum feugiat ipsum, quis suscipit massa scelerisque ac. Praesent laoreet interdum sem, et molestie quam pretium eget. Phasellus sem dolor, vulputate nec egestas sed, commodo vel ex. </p>
</body>

</html>creazione post</a>
        </span>
    </p>
    <p> Sito con creazione post web standards <span class="special">ITS biotecnologie</span></p>
</body>

</html>